<section id="details__middle-box" class="p-4 pt-0">
    <ul class="middle-box__details-rating-box p-4 text-bg-light">
        <li class="d-flex justify-content-between m-2">
            <p>Cleaness</p>
            <p>##CLEANESS RATING COMES HERE (with i element)##</p>
        </li>
        <li class="d-flex justify-content-between m-2">
            <p>Location</p>
            <p>##LOCATION RATING COMES HERE (with i element)##</p>
        </li>
        <li class="d-flex justify-content-between m-2">
            <p>Landlord</p>
            <p>##LANDLORD RATING COMES HERE (with i element)##</p>
        </li>
        <li class="d-flex justify-content-between m-2">
            <p>Price</p>
            <p>##PRICE RATING COMES HERE (with i element)##</p>
        </li>
        <li class="d-flex justify-content-between m-2">
            <p>HouseRule</p>
            <p>##HOUSERULE RATING COMES HERE (with i element)##</p>
        </li>
    </ul>
</section>
