<li class="my-3 p-3">
    <h3 class="mb-3">User Id</h3>
    <div class="review-box__top-box d-flex">
        <div
            class="review-box__top-box__score d-flex justify-content-center align-items-center me-2"
        >
            <h4>##OVERALL SCORE COMES HERE##</h4>
        </div>

        <div
            class="review-box__top-box__tags-box d-flex flex-wrap justify-content-between ms-2"
        >
            <p class="tag btn btn-primary m-1 px-2 py-0">##TAG1 COMES HERE##</p>
            <p class="tag btn btn-primary m-1 px-2 py-0">##TAG2 COMES HERE##</p>
            <p class="tag btn btn-primary m-1 px-2 py-0">##TAG3 COMES HERE##</p>
            <p class="tag btn btn-primary m-1 px-2 py-0">##TAG4 COMES HERE##</p>
        </div>
    </div>
    <div class="review-box__bottom-box my-3 d-flex flex-column">
        <p class="mb-3">##USER REVIEW COMES HERE##</p>
        <p class="align-self-end">See more details</p>
    </div>
</li>
