<section id="details__top-box" class="d-flex flex-column m-4">
    <div class="top-box__top d-flex justify-content-between">
        <div class="top-box__score-box">
            <p class="score-box__score p-2">
                ##OVERALL SCORE COMES HERE##<span>/5</span>
            </p>
            <p class="p-2">Overall Quality</p>
        </div>
        <div
            class="top-box__button-box d-flex justify-content-center align-items-center"
        >
            <button class="btn btn-dark">See House Rule</button>
        </div>
    </div>
    <div class="top-box__address-box p-2 mt-3">
        <p>##PROPERTY ADDRESS COMES HERE##</p>
    </div>
</section>
