<header>
    <div class="d-flex justify-content-between align-items-center header__box">
        <div class="header__nav-icon">
            <img src="/images/three-dots.svg" alt="" class="header__icon" />
        </div>
        <a class="logo" href="/index.html">
            <h1 id="nav-title">RVR</h1>
        </a>
        <div class="header__search-bar d-flex">
            <div class="mobile-hidden search-box">
                <input
                    id="nav-search-input"
                    type="text"
                    placeholder="Search by the address or postal code"
                    class="search-box"
                />
            </div>
            <img src="/images/search.svg" alt="" class="header__icon" />
            <img
                src="/images/close-circle-svgrepo-com.svg"
                alt=""
                class="close__icon mobile-hidden"
            />
        </div>
    </div>
    <nav class="mobile-hidden drop-down">
        <p>Welcome, <span id="username"></span>!!👋</p>
        <ul class="d-flex flex-column justify-content-center p-6">
            <li><a class="nav_link" href="../index.html">Home</a></li>
            <li>
                <a class="nav_link" href="../add-property.html">Add Property</a>
            </li>
            <li><a class="nav_link" href="../profile.html">Profile</a></li>
            <li><a class="nav_link" href="../bookmarks.html">Bookmarks</a></li>
            <li>
                <a class="nav_link" href="../contact_us.html">Contact Us</a>
            </li>
            <div class="sign-out-container">
                <button
                    type="button"
                    id="sign-out-btn"
                    class="btn btn-danger btn-lg gap-3 btn-sign"
                >
                    Sign Out
                </button>
            </div>
        </ul>
    </nav>
</header>
