<header>
	<div class="d-flex justify-content-between align-items-center header__box">
		<div class="header__nav-icon">
			<img src="/images/three-dots.svg" alt="" class="header__icon" />
		</div>
		<a href="/index.html">
			<h1>RVR</h1>
		</a>
		<div class="header__search-bar d-flex">
			<div class="mobile-hidden">
				<input type="text" class="" />
			</div>
			<img src="/images/search.svg" alt="" class="header__icon" />
		</div>
	</div>
	<nav class="mobile-hidden">
		<ul class="d-flex flex-column justify-content-center">
			<li><a href="#">Home</a></li>
			<li><a href="#">Sign In</a></li>
			<li><a href="#">Sign Up</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</nav>
</header>