.btn {
    width: 100px;
    height: 40px;
    margin: 5px 0 20px 0;
}

label {
    margin: 5px 0;
}

.intro {
    font-size: var(--extra-large-font);
    font-weight: bold;
}

.policy-container {
    align-items: center;
    width: 95%;
    margin: auto;
}

#policy {
    height: 150px;
    overflow-y: scroll;
    width: 100%;
    margin-top: 20px;
    min-width: 150px;
}

.invalid-feedback {
    height: 0;
}

.form-container {
    height: 90px;
}

.checkbox-container {
    height: 45px;
}

.submit-container {
    display: flex;
    flex-direction: column;
}

#submit {
    position: relative;
}

#warning-msg {
    position: absolute;
    left: 120px;
    top: 26px;
    translate: transform(-50%, -50%);
    max-width: fit-content;
}
