.btn {
    width: 100px;
    height: 40px;
    margin-top: 20px;
}

label {
    margin: 20px 0;
}

#NAVBAR-PLACEHOLDER {
    margin-bottom: 20px;
}

.intro {
    font-size: var(--extra-large-font);
}

#policy {
    height: 150px;
    overflow-y:scroll;
    width: 65%;
    margin-top: 20px;
    min-width: 150px;
}

.invalid-feedback {
    height: 0;
}

.form-container {
    height: 90px;
}

.checkbox-container {
    height: 45px;
}