#main {
    height: 100%;
}

#FOOTER-PLACEHOLDER {
    margin-top: 24px;
}

body {
    min-height: 100vh;
}

body.modal_effect {
    height: 100vh;
    overflow: hidden;
}

.top-box__score-box {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 45%;
}

.top-box__score-box-container {
    display: flex;
    font-weight: bold;
    width: 45%;
}

.top-box__score-box-total {
    font-size: var(--large-font);
}

.top-box__score-box .score-box__score {
    font-size: 3em;
}

.top-box__score-box .score-box__score span {
    font-size: 0.5em;
    margin-left: 10px;
    position: absolute;
}

.top-box__button-box {
    width: 55%;
}

#property-address {
    margin-right: 8px;
}

.top-box__address-box {
    display: flex;
}

.top-box__address-box p {
    font-size: 1.3em;
}

.middle-box__details-rating-box {
    border-radius: 20px;
}

.middle-box__details-rating-box li {
    font-size: 1.2em;
    font-weight: bold;
}

#details__bottom-box {
    min-height: 100vh;
}

.bottom-box__review-box li {
    position: relative;
    background-color: var(--text-color);
}

.review-box__top-box__score {
    height: 100px;
    width: 100px;
    min-width: 100px;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--black-color);
}

.review-box__top-box__tags-box {
    width: 70%;
}

.tag {
    height: fit-content;
    border-radius: 15px;
}

.comment-content {
    line-height: 20px;
}

.see-more {
    position: absolute;
    bottom: 8px;
    right: 8px;
    border: none;
    background-color: var(--text-color);
}

.see-more:hover {
    text-decoration: underline;
}

.truncated {
    overflow: hidden;
    text-overflow: ellipsis;
}

.expanded {
    white-space: normal;
}

.rating-heading-box {
    border-bottom: 1px solid var(--black-color);
}
.rating-heading-box h2 {
    font-size: var(--large-font);
}
#leave-comment-btn {
    line-height: 1;
}

.review-vote-box * {
    font-size: 2rem;
    margin-left: 3px;
    margin-right: 3px;
    color: var(--bg-color);
}
.review-vote-box span {
    font-size: 1.25rem;
    margin-right: 10px;
    color: var(--black-color);
}

#sign-up-alert.hidden,
#overlay.hidden {
    display: none !important;
}
#sign-up-alert {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}
#sign-up-alert h2 {
    font-size: var(--large-font);
}
#sign-up-alert button {
    align-self: flex-end;
    font-size: var(--large-font);
    padding: 3px;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(93, 95, 94, 0.5);
    backdrop-filter: blur(3px);
    z-index: 5;
}
@media (min-width: 500px) {
    .rating-heading-box {
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
    }
    #leave-comment-btn {
        width: fit-content;
    }
}

#go-back {
    display: flex;
    width: fit-content;
    align-items: center;
    margin: 24px 1.5rem;
    font-size: var(--medium-font);
}

#go-back:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--bg-color);
}

#arrow-back {
    font-size: 3rem;
}

.delete_button {
    position: absolute;
    bottom: 8px;
    left: 8px;
}
