.top-box__score-box {
    font-weight: bold;

    width: 45%;
}

.top-box__score-box .score-box__score {
    font-size: 3em;
}

.top-box__score-box .score-box__score span {
    font-size: 0.5em;
    margin-left: 10px;
    position: absolute;
}

.top-box__button-box {
    width: 55%;
}

.top-box__address-box p {
    font-size: 1.3em;
}

.middle-box__details-rating-box {
    border-radius: 20px;
}

.middle-box__details-rating-box li {
    font-size: 1.2em;
    font-weight: bold;
}

.bottom-box__review-box li {
    position: relative;
    background-color: lightgray;
}

.review-box__top-box__score {
    height: 100px;
    width: 100px;
    min-width: 100px;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    background-color: var(--black-color);
}

.review-box__top-box__tags-box {
    width: 70%;
}

.tag {
    height: fit-content;
    border-radius: 15px;
}

.comment-content {
    line-height: 20px;
}

.see-more {
    position: absolute;
    bottom: 8px;
    right: 8px;
    border: none;
    background-color: lightgrey;
}

.see-more:hover {
    text-decoration: underline;
}

.truncated {
    overflow: hidden;
    text-overflow: ellipsis;
}

.expanded {
    white-space: normal;
}

.rating-heading-box {
    border-bottom: 1px solid var(--black-color);
}
.rating-heading-box h2 {
    font-size: var(--large-font);
}
#leave-comment-btn {
    line-height: 1;
}
