.container div {
    padding: 10px 0;
}

label {
    padding: 10px 0;
}

.container h2 {
    padding-top: 50px;
}

.btn {
    margin: 0;
}

#banner-message {
    padding: 10px 0;
    color: var(--bg-color);
    font-size: var(--medium-font);
    margin-top: 0;
    padding-top: 0;
}

.form-group {
    height: 100px;
}
