#form-tags-box input {
    display: none;
}

#form-tags-box label {
    background-color: var(--text-color);
}
#form-tags-box label.checked {
    background-color: var(--bg-color);
}
.border.border-danger {
    border-width: 2px !important;
    border-color: var(--warning-color) !important;
}

h3 {
    font-size: var(--large-font);
}
#form-stars-boxs i {
    font-size: 1.5em;
}
#form-stars-boxs .score-icon-box {
    width: 70%;
}
#form-stars-boxs input[type="number"] {
    width: 30%;
}
