:root {
    /* color variables */
    --level-1-yellow: #fdf8e5;
    --level-2-yellow: #fbf1cc;
    --level-3-yellow: #f9eab3;
    --level-4-yellow: #f8e399;
    --level-5-yellow: #f6dc80;
    --level-6-yellow: #f4d567;
    --level-7-yellow: #f3ce4d;
    --level-8-yellow: #f1c734;
    --level-9-yellow: #efc01b;
    --level-10-yellow: #eeb902;
}

#form-tags-box input {
    display: none;
}

#form-tags-box label {
    background-color: var(--text-color);
}
#form-tags-box label.checked {
    background-color: var(--bg-color);
}
.border,
.border.border-danger {
    border-radius: var(--bs-border-radius);
}
.border.border-danger {
    border-width: 2px !important;
    border-color: var(--warning-color) !important;
}

h3 {
    font-size: var(--large-font);
}
#form-stars-boxs i {
    font-size: 1.5em;
    color: var(--bg-color);
}
#form-stars-boxs .score-icon-box {
    width: 83%;
}
#form-stars-boxs input {
    width: 17%;
    text-align: center;
}
.warning-msg {
    color: var(--warning-color);
    font-size: var(--small-font);
}
.score-icon-box .score-icon {
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    border-right: 1px dotted grey;
    width: 21%;
    height: 30px;
}
h2,
label[for="user-comment"] {
    font-size: var(--large-font) !important;
}
/* .score-icon-box .score-icon:first-child {
    border-left: 2px solid grey;
}
.score-icon-box .score-icon:last-child {
    border-right: 2px solid grey;
}
.score-icon-box .score-icon div {
    width: 50%;
    height: 100%;
    cursor: pointer;
}
.score-icon-box .score-icon div:first-child {
    border-right: 1px dotted grey;
}
.score-icon-box .score-icon:first-child div:first-child.colored {
    background-color: var(--level-1-yellow);
}
.score-icon-box .score-icon:first-child div:last-child.colored {
    background-color: var(--level-2-yellow);
}
.score-icon-box .score-icon:nth-child(2) div:first-child.colored {
    background-color: var(--level-3-yellow);
}
.score-icon-box .score-icon:nth-child(2) div:last-child.colored {
    background-color: var(--level-4-yellow);
}
.score-icon-box .score-icon:nth-child(3) div:first-child.colored {
    background-color: var(--level-5-yellow);
}
.score-icon-box .score-icon:nth-child(3) div:last-child.colored {
    background-color: var(--level-6-yellow);
}
.score-icon-box .score-icon:nth-child(4) div:first-child.colored {
    background-color: var(--level-7-yellow);
}
.score-icon-box .score-icon:nth-child(4) div:last-child.colored {
    background-color: var(--level-8-yellow);
}
.score-icon-box .score-icon:last-child div:first-child.colored {
    background-color: var(--level-9-yellow);
}
.score-icon-box .score-icon:last-child div:last-child.colored {
    background-color: var(--level-10-yellow);
} */

#go-back {
    display: flex;
    align-items: center;
    margin: 24px 0;
    font-size: var(--medium-font);
}

#go-back:hover {
    text-decoration: none;
    cursor: pointer;
    color: var(--bg-color);
}

#arrow-back {
    font-size: 3rem;
}
