@import url(./reset.css);

:root {
    /* color variables */
    --bg-color: #eeb902;
    --black-color: #0c090d;
    --text-color: #eef1ef;
    --cta-color: #3c91e6;
    --warning-color: #e03616;
    /* font variables */
    --large-font: 1.5rem;
    --medium-font: 1rem;
    --small-font: 0.75rem;
}

html {
    margin: 0;
    padding: 0;
    line-height: 1.15;
    font-size: var(--medium-font);
    font-family: "Public Sans", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5s;
}

header {
    padding-top: 15px;
    background-color: var(--bg-color);
}

h1 {
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
}

body#landing-page {
    background-color: var(--bg-color);
    color: var(--black-color);
}

nav {
    background-color: var(--bg-color);
    padding-right: 0px;
    padding-left: 0px;
}

.drop-down {
    padding: 12px 0;
}

.nav_link {
    display: inline-block;
    width: 100%;
    padding: 5px 0px;
    text-align: center;
}

.nav_link:hover {
    background-color: var(--text-color);
}

.sign-out-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.property-card {
    margin: 15px 0px;
    padding: 5px 15px;
    border: 2px solid var(--black-color);
    border-radius: 15px;
}

.property-card__score-box {
    width: 65px;
    height: 65px;
    background-color: var(--black-color);
    color: var(--text-color);
    font-size: var(--large-font);
    font-weight: bold;
}

.property-card__score-box div {
    height: 100%;
}

.property-card__text-box {
    width: calc(70%);
}

.property-card__text-box > div {
    margin-bottom: 5px;
}

.property-card__text-box p {
    background-color: var(--text-color);
    padding: 2px 5px;
    border-radius: 7px;
    font-size: var(--small-font);
}

.property-card__text-box .text-box__bottom {
    margin-top: 10px;
}

.header__box {
    padding-bottom: 10px;
}

.header__icon {
    width: 20px;
    margin: 0px 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

#landing-page a {
    color: #0c090d;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: var(--black-color);
    color: var(--text-color);
}

.logo {
    font-size: var(--large-font);
}

.logo:hover {
    opacity: 0.5;
}

.top-container {
    flex: 1;
}

.sign-in {
    width: 100%;
}

.sign-up-link {
    text-decoration: underline;
}

.sign-up-link:hover {
    font-weight: 600;
}

.welcome {
    font-size: var(--large-font);
}

.nav-title {
    text-align: center;
    display: inline-block;
    width: 80%;
}

.mobile-hidden {
    display: none;
}

.btn-sign {
    width: 35%;
    margin-bottom: 10px;
    padding: 5px;
    font-weight: bold;
    border-radius: 15px;
    background-color: var(--black-color);
    border-color: var(--black-color);
    color: var(--text-color);
}

.btn-sign:hover {
    background-color: var(--text-color);
    border-color: var(--text-color);
    color: var(--black-color);
}

.btn-sign:active {
    box-shadow: none;
    position: relative;
    top: 4px;
}

#logo {
    width: 100px;
}

#header-title {
    text-align: center;
}

.input-group input {
    border-radius: 15px;
}

.input-group-text {
    border-radius: 15px;
}
